src/memory management/memtest.exe
src/memory management/p1.page
src/memory management/memtest.exe
src/memory management/memtest.exe
src/bigquad.exe
*.exe
*.json
build-CMSC-Desktop_Qt_5_13_1_MinGW_32_bit-Debug
