*.exe
*.json
build-CMSC-Desktop_Qt_5_13_1_MinGW_32_bit-Debug
build-CMSC-Desktop_Qt_5_13_1_MinGW_64_bit-Debug
build-CMSC-Desktop_Qt_5_13_1_MinGW_32_bit-Release
build-CMSC-Desktop_Qt_5_13_1_MSVC2017_64bit-Debug
build-CMSC-Desktop_Qt_5_13_1_MSVC2017_32bit-Debug
.vs
.vscode
BYRON_STEARNS_CMSC312_2019_PART2.zip
